/* Add Font */


/* Variables */

:root {
  --primary: rgb(54, 155, 155);
  --error: rgb(240, 65, 135);
}



#site-logo {
  font-family: monospace;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--primary);

}

/* FORM */
form.createCard  {
  max-width: 600px;
}

form.createCard textarea {
  resize: none;
  height: 120px;

}

.form-control.error{
  border: 1px solid var(--error);
}

.text-danger {
  color: var(--error)!important;
}